In [8]:
#Fixing Bed File
#This file is used when you have a file like
#duan.SC.10000.raw_sub.bed from nextflow (raw .bed the matrix is the txt file not the bed file regularly)
#You just need to add the line number down the side
import pandas as pd
import numpy as np
bed = pd.read_csv('/home/kh530/miniconda3/lib/python3.9/site-packages/iced/datasets/data/duan2009/duan.SC.10000.raw_sub.bed',sep='\t',header=None)
bed[3] = np.arange(bed.shape[0])
print(bed)
bed.to_csv('duan.SC.10000.raw_sub.bed',sep='\t',header=False,index=False)
#Should have the format 
#chromosome startbaseofbin endbaseofbin binid

In [10]:
mat = pd.read_csv('/home/kh530/miniconda3/lib/python3.9/site-packages/iced/datasets/data/duan2009/duan.SC.10000.raw_sub.matrix',sep='\t',header=None)
print(mat)

#They should have format firstbin secondbin coverage

           0     1     2
0          1     1  1225
1          1     2   477
2          1     3   185
3          1     4   153
4          1     5    96
...      ...   ...   ...
794065  1313  1314   608
794066  1313  1315     6
794067  1314  1314  2737
794068  1314  1315     7
794069  1315  1315    12

[794070 rows x 3 columns]